*~
*.a
*.o
*.so*
*.dylib*
*.user
*.cbp
*.log
obj-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
Doxyfile
build/
CTestTestfile.cmake
Testing
CTestTestfile.cmake
*.vcxproj
*.vcxproj.filters
Debug/
Release/
*.obj
*.bsr
*.pdb
*.tlog
